* {
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}
body{
    background-color: #EFF3F8;
}
.container{
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    margin: 60px auto;
    /* background-color: #EFF3F8; */

}
.container-noticias, .noticias{
    /* background-color: #F8F9FA; */
    box-shadow: 0px 2px 6px rgb(0 0 0 / 10%);
}
h2{
    font-size: 12px;
    background-color: #F8F9FA;
    padding: 12px;
    font-weight: normal;
    margin: 0;
    border-radius: 5px;
    font-weight: 500;
}
aside{
    max-width: 40%;
    display: flex;
    flex-direction: column;

}
aside div{
    margin-bottom: 1px;
    /* background-color: #F8F9FA; */
    box-shadow: 0px 2px 6px rgb(0 0 0 / 10%);
}
.container-sistemas{
    display: flex;
    flex-wrap: wrap;
    background-color: #F8F9FA;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;


}
.container-sistemas div{
    padding: 20px 15px;
    flex: 0 1 100px;
    display: block;
    justify-content: center;
    border-radius: 5px;
    margin: 10px;

}
.container-noticias{
    max-width: 58%;
    background-color: #F8F9FA;

}
.container-sistemas div p{
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    color: #33A76F;
}

.container-sistemas i{
    width: 100% !important;
    text-align: center;
    color: #33A76F;
    font-size: 28px;


}
.proc{
    margin: 5px;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 10%);
}
.a:hover {
    color: white !important;
    background-color: green !important;

}

.container-sistemas div:hover i, .container-sistemas div:hover p, .container-sistemas div:hover{
    color: white !important;
    cursor: pointer;
}

.container-sistemas div:hover{
    background: linear-gradient(to bottom right, #295ba7, #78b454);
}
.aniversario{
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.aniversario div{
    width: 100%;
    display: flex;
    background-color: #F8F9FA;
    border: none;
}

.split{
    flex-direction: column;
    box-shadow: none;
    padding: 8px;
}

.aniversario img{
    border-radius: 25%;
    padding: 10px;
    max-width: 90px;
}
.nome{
    font-weight: 500;
    margin: 5px 0px;
}
.email{
    font-weight:400;

    margin-top: 5px;
}
.data{
    color: #6c757d!important;

    font-weight: 400px;
}


/* Container Noticias */

.container-noticias .titulo {
    margin-bottom: 1px;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 10%);
}

.noticias {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 16px 8px;

}

.noticias-card  {
    display: flex;
    padding: 15px 8px;

}

figure img {
  height: 100%;
  border-radius: 0.25rem 0 0 0.25rem;
}

.card-texto > h6 {
    font-size: 1rem;
    padding: 8px 0px 0px;
    margin: 0px 0px 8px;
}

.heart {
    color: #DC3545;
}

.card-reacts  {
    display: flex;
    justify-content: space-between;
    font-size: 13px !important;
}

.card-reacts div {
    display: flex;
    align-items: center;
    padding: 0px 4px 0px 0px;
}

.reacts i{
    padding: 0px 4px 0px;
}

.text-muted {
    color: #6c757d!important;
}

/* Responsividade */

@media (max-width: 930px){
    .container{
        flex-direction: column;
        margin: 20px;
    }
    aside{
        max-width: 100%;

    }
    .container-sistemas div{
        flex: 1 1 100px;
    }
    h2{
        text-align: center;
        
    }
    .container-noticias{
        max-width: 100%;

    }
    .aniversario h2{
        width: 100%;
    }
}

@media (max-width: 601px){
    .noticias-card{
        flex-flow: row wrap;
    } 
    .noticias-card figure{
        width: 100%;
        text-align: center;
    }
}

